src/.git
src/.github
src/.gitignore
src/.gitattributes
src/.*.swp
src/.dockerignore
src/Dockerfile*
src/dockerfiles/
src/Makefile
src/Makefile.cross-compiles
src/package.sh
src/bin/
src/test/
src/tests/
src/e2e/
src/vendor/
src/README*.md
src/CHANGELOG*
src/.goreleaser.yml
src/.circleci/
src/tools/
src/.golangci.yml
